body{
    margin:0; 
    font-family: 'Times New Roman', Times, serif;
    min-height: 50vh;
}

.header a{
    text-align: center;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.navbar{
    overflow: auto; 
    background-color: black; 
}

.navbar a{
    float: left; 
    display: block; 
    color: white;
    padding: 20px 100px; 
    text-decoration: none;
}

.navbar a:hover{
    background-color: rgb(126,126,126); 
    color: rgb(255,255,255); 
}
