body{
    margin: 0; 
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
}

.header{
    text-align: center;
}
.header a{
    text-align: center;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.navbar{
    overflow: auto; 
    background-color: black; 
    display : flex;
    align-items : center;
}

.navbar a{
    float: left; 
    display: block; 
    color: white;
    padding: 20px 100px; 
    text-decoration: none;
}


.navbar a:hover{
    background-color: rgb(126,126,126); 
    color: rgb(255,255,255); 
    padding: 20px 100px
}

.active {
    color: rgb(200, 200,200)
}

li {
    border-right: 1px solid #bbb;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav, .topnav input[type=text] {
      float: right;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }


.form-container{
    min-height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 20px; 
    padding-bottom: 60px;
    background: #eee; 
}

.form-container form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
    text-align: center;
}

.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333; 
}

.form-container form input, 
.form-container form select{
    width: 100%; 
    padding: 10px 15px; 
    font-size: 17px;
    margin: 8px 0px; 
    background: #eee;
    border-radius: 5px; 
}

.form-container form select option{
    background: #eee; 
}

.form-container form .form-btn{
    background: #fbd0d9; 
    color: crimson; 
    text-transform: capitalize;
    font-size: 20px;
}

.form-container form .error-msg{
    margin: 10px 0; 
    display: block; 
    background: crimson; 
    color: #fff; 
    border-radius: 5px;
    font-size: 20px;
    padding: 10px; 
}

.name{
    color: white; 
}

.profil_billede{
    width: 300px; 
    height: 300px; 
    padding: 5px; 
    border: 2px solid rgb(0,0,0); 
    flex-basis: 40%; 
}

.info{
    font-size: 20px;
    padding-left: 20px;
}
.info-container{
    display: flex;
    align-items: center;
    justify-content: center
}
